* {
    font-family: 'calibri', sans-serif;
    font-size: medium;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    background-color: #426de2;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding: 10px;
    height: 100px;
    width: 100%;
    border-bottom: #29489e solid 5px;
    position: absolute;
}

header h1 {
    font-size: xx-large;
}

header img {
    height: 100%;
}

main {
    width: 100%;
    height: 100vh;
    padding-top: 100px;
    display: flex;
    flex-direction: row;
}

nav {
    padding: 20px;
    width: 200px;
    background-color: #426de2;
    font-size: large;
}

nav li {
    list-style: none;
    margin-bottom: 10px;
    cursor: pointer;
    padding: 5px;
    border-radius: 10px;
    font-weight: bold;
}

.usuario-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    font-weight: bold;
    font-size: large;
    bottom: 20px;
    position: absolute;
}

.usuario-container img {
    height: 40px;
    border-radius: 50%;
}

.chat-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: #A8FBD3;
    overflow-y: auto;
    gap: 10px;
}

.chat-box {
    width: 95%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
}

.chat-form {
    display: flex;
    gap: 10px;
    width: 100%;
    align-self: center;
    padding: 10px;
    justify-content: space-between;
}

.chat-form input {
    width: 100%;
    border-radius: 10px;
    padding: 10px;
}

.chat-form button {
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #4FB7B3;
    font-size: large;
}

.mensaje {
    padding: 10px;
    border-radius: 10px;
    max-width: 70%;
}

.mensaje.usuario {
    background-color: #4FB7B3;
    align-self: flex-end;
}

.mensaje.asistente {
    background-color: #637AB9;
    align-self: flex-start;
}