.login-form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70%;
    gap: 30px;
    min-width: 450px;
    /* background-color: var(--color-secundario); */
    padding: 20px;
    border-radius: 30px;
}

.login-form-container h2{
    color: #333;
    font-size: 40px;
}

.login-form-container .input-container .form-error{
    color: #f44;
    position: absolute;
    bottom: -30px;
}

.login-form-container .form-error.is-visible {
  opacity: 1;
}

.login-form-container .input-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    gap: 10px;
}

.login-form-container .input-container:nth-child(3){
    position: relative;
    margin-bottom: 15px;
}

.login-form-container .input-container label{
    align-self: flex-start;
    margin-left: 15px;
}

.login-form-container .input-container input{
    /* background-color: var(--color-primario); */
    /* border: .5px solid var(--color-primario-borde); */
    border: .5px solid #333;
    width: 100%;
    height: 50px;
    border-radius: 30px;
    padding: 15px;
}

.login-form-container button{
    width: 90%;
    background-color: #333;
    color: white;
    min-height: 50px;
    border-radius: 30px;
    cursor: pointer;
    border: none;
}

.login-form-container button:hover{
    background-color: #555;
}

.login-form-container  .auth-links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
}

.login-form-container .auth-links .link{
    color: #333;
}

.login-form-container .auth-links .link:hover{
    color: #000;
}