* {
  font-family: "calibri", sans-serif;
  font-size: medium;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #f9f9f9;
}

body header {
  width: 100vw;
  /* background-color: red; */
  display: flex;
  align-items: center;
}

body header img {
  width: 100px;
  padding: 5px;
}

body main {
  display: flex;
  justify-content: center;
  align-items: center;
}

body main .login-container {
  min-width: 400px;
  min-height: 70vh;
  max-height: fit-content;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  flex-direction: column;
}

body main .login-container h1 {
  color: #333;
  font-size: 40px;
}

body main .login-container .login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80%;
}

body main .login-container .login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 100%;
}

body main .login-container .login-form button {
  width: 100%;
  color: #f9f9f9;
  background-color: #333;
  border: none;
  height: 50px;
  border-radius: 30px;
  cursor: pointer;
}

body main .login-container .login-form button:hover {
  background-color: #555;
}

body main .login-container .login-form a {
  color: #333;
}

body main .login-container .login-form a:hover {
  color: #000;
  text-decoration: underline;
}

body main .login-container .login-form .input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

body main .login-container .login-form .input-container label {
  align-self: flex-start;
  margin-left: 15px;
}

body main .login-container .login-form .input-container input {
  width: 100%;
  border: 0.5px solid #999;
  height: 50px;
  border-radius: 30px;
  background-color: #f9f9f9;
  padding: 15px;
}
