.preferencias-block-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1499;
}

.preferencias-container {
    position: absolute;
    z-index: 1500;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-fondo);
    border: 1px solid var(--color-primario-borde);
    border-radius: 10px;
    width: 40%;
    min-height: fit-content;
    max-height: 70%;
    padding: 20px;
    overflow-y: scroll;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    gap: 20px;
}

.preferencias-container h2 {
    text-align: center;
    font-size: 18px;
}

.preferencias-container > div{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.preferencias-container h3 {
    font-size: 16px;
    margin-bottom: 5px;
}

.preferencias-container label {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.preferencias-container .preferencias-botones {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.preferencias-botones button {
    margin-left: 10px;
    padding: 8px 16px;
    border: none;
    border-radius: 10px;
    background-color: var(--color-primario);
    color: white;
    font-size: 14px;
    cursor: pointer;
}

.preferencias-botones button:last-child {
    background-color: var(--color-secundario);
}