.preferencias-block-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1499;
}

.preferencias-container {
    position: absolute;
    z-index: 1500;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-fondo);
    border: 1px solid var(--color-primario);
    border-radius: 15px;
    width: 40%;
    height: 60%;
    padding: 20px;
}